.App {
  font-family: sans-serif;
  text-align: center;
}
.errorBox {
  background-color: #ffbbbb;
  height: 60px;
  width: 400px;
  position: absolute;
  top: 180px;
  left: 100px;
  border: 1px solid #ff4747;
  opacity: 0.7;
  border-radius: 10px;
  color: #570000;

  text-align: center;
  line-height: 60px;
}
html {
  background: white;
}
